/* .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
  
  /* Hide the browser's default checkbox */
/*.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} */
  
  /* Create a custom checkbox */
/* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
} */
  
  /* On mouse-over, add a grey background color */
/*.container:hover input ~ .checkmark {
    background-color: #ccc;
} */
  
  /* When the checkbox is checked, add a blue background */
/*.container input:checked ~ .checkmark {
    background-color: #2196F3;
} */
  
  /* Create the checkmark/indicator (hidden when not checked) */
/*.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}*/
  
  /* Show the checkmark when checked */
/*.container input:checked ~ .checkmark:after {
    display: block;
}*/
  
  /* Style the checkmark/indicator */
/*.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
html {
    font-size: 62.5%;
}
body {
    background-color: #181824;
    margin: 0 auto;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 25rem auto;
}
header {
    display: flex;
    color: #fefffe;
    width: 100%;
    min-height: 25rem;
    background-image: url(../images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem 2rem;
    letter-spacing: 1rem;
}
.headerItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fefffe;
}
header img {
    height: 4rem;
    padding-top: 0.5rem;
}
.themeIcon {
    height: 4rem;
    width: 4rem;
    background-image: url(../images/icon-moon.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.themeIcon:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}
h1 {
    font-size: 4rem;
}
main {
    color: #adafc6;
    /* flex-basis: 80%; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24%;
}
.mainCon {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    position: relative;
}
.addTaskCon {
    height: 5rem;
}
.addTaskInnerCon {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    background-color: #25273c;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
}
#addTaskCheckbox {
    margin-right: 1rem;
    flex-basis: 10%;
    width: 3rem;
    height: 3rem;
}
.addTaskInput {
    flex-basis: 90%;
    height: 100%;
    background-color: #25273c;
    border: none;
    font-size: 1.6rem;
    padding: 0.5rem;
    color: #adafc6;
}
.addTaskInput:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #adafc6; 
}
:-ms-input-placeholder {  
   color: #adafc6; 
}
:-moz-placeholder { /* Firefox 18- */
   color: #adafc6; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adafc6; 
}
.taskList {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    /* border-radius: 0.5rem; */
}
.task {
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;
    background-color: #25273c;
    border-bottom: 1px solid #868790;
    padding: 0 1.5rem;
    position: relative;
}
.task:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
}
.dashboardCon * {
    border-radius: 0 0 0.5rem 0.5rem;
}
.checkbox {
    margin-right: 1rem;
    flex-basis: 10%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}
.editCon {
    position: absolute;
    /* flex-basis: 83%; */
    width: 95%;
    left: 2%;
    display: flex;
    align-items: center;
    background-color: #25273c;
    position: absolute;
    transform: translateX(-300%);
    transition-duration: 0.5s;
}
.editInput {
    /* position: absolute; */
    font-size: 1.6rem;
    width: 70%;
    cursor: pointer;
    background-color: #25273c;
    border: none;
    font-size: 1.6rem;
    padding: 0.3rem;
    color: #adafc6; 
    border: none;
}
.fa-check {
    margin-left: 10%;
    font-size: 4rem;
    width: 20%;
    cursor: pointer;
}
.fa-check:hover {
    color: #6d6f78;
}
.editInput:focus {
    outline-style: solid;
    outline-color: #494C6B;
    outline-width: 0.2rem;
    border: none;
}
.edit .editCon {
    transform: translateX(0%);
    transition: 0.20s;
}
.task p {
    flex-basis: 46%;
    /* background-color: #25273c; */
    border: none;
    font-size: 1.8rem;
    margin: 1rem;
    cursor: pointer;
    /* position: absolute; */
}

.complete p {
    text-decoration: line-through;
    color: #43455a;
}
.fa-pen-to-square {
    font-size: 3rem;
    color: #8a8daa;
    margin: 0 4rem 0 3rem;
    cursor: pointer;
}

.delete {
    display: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}
.task:hover .delete {
    display: block;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 5rem;
    font-size: 1.1rem;
    background-color: #25273c;
}
.taskLeft {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    align-items: center;
    height: 5rem;
    /* background-color: #25273c; */
    padding: 0 2rem;
    cursor: pointer;
}

.clear {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    justify-content: end;
    align-items: center;
    height: 5rem;
    /* background-color: #25273c; */
    padding: 0 2rem;
    cursor: pointer;
}

.categories {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #25273c;
    /* color: #a9a9af; */
    color: #595a75;
    padding: 0 6rem;
    font-size: 1.3rem;
}
.categories:hover {
    /* color: #737580; */
}
.all {
    color: #6088d2;
}
.categories span {
    justify-self: center;
    padding-right: 1.5rem;
    cursor: pointer;
}
.categories span:hover {
    color: white;
}
.instruction {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    margin: 3rem auto;
    color: #adafc6;
    /* position: absolute; */
    font-size: 1.2rem;
}
.instruction p {
    margin-bottom: 2rem;
}
/*****************************
LIGHT THEME
*****************************/
.bodyThemeLight {
    background-color: #fafafa;
}
.headerThemeLight {
    background-image: url(../images/bg-mobile-light.jpg);
}
.lightThemeIcon {
    background-image: url(../images/icon-sun.svg);
}
.addTaskInnerConTheme {
    background-color: white;
}
.addTaskInputTheme {
    background-color: white;
    border: none;
    color: #4a4c58
}
.taskThemeLight {
    background-color: white;
    color: #4a4c58;
    box-shadow: 0.2px 0.2px 1px 1px #eff0f7;
    border-bottom: #eff0f7;
}
.taskLeftThemeLight .fa-check:hover {
    color:#25273c
}
.fa-pen-to-squareLight {
    color: #787d99;
}
.editInputThemeLght {
    background-color: white;
    color: #4a4c58;
}
.editConThemLight {
    background-color: white;
    color: #4a4c58;
}
.fa-pen-to-square:hover {
    color: white;
}
.dashboardThemeLight {
    background-color: white;
    color: #868592;
    box-shadow: 0.2px 0.2px 1px 1px #eff0f7;
    border-bottom: #eff0f7;
}
.categoriesThemeLight {
    background-color: white;
}
.categoriesThemeLight span:hover {
    color: #2d2e33;
}

.taskLeftThemeLight span:hover {
    color: #4a4c58;
}
.clearThemeLight span:hover {
    color: #4a4c58;
}
.clear span:hover {
    color: white;
}
.instructionTheme {
    color: #868592;
}

@media all and (min-width: 650px) {
    header {
        background-image: url(../images/bg-desktop-dark.jpg);
        margin: 0 auto;
        justify-content: center;
    }
    .headerThemeLight {
        background-image: url(../images/bg-desktop-light.jpg);
    }
    .headerItems {
        width: 60rem;
    }
    main {
        padding: 0;
    }
    .task p:hover {
        color: white;
    }
    .mainCon {
        width: 60rem;
        padding: 0;
    }
    .dashboard {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 2fr;
        padding: 0 1rem;
    }
    .taskLeft {
        grid-column: 1/3;
        grid-row: 1;
        display: grid;
        align-items: start;
        height: auto;
    }
    .taskLeft:hover {
        color: white;
    }
    .categories {
        grid-column: 3/6;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;
        align-items: center;
        height: auto;
        /* background-color: #25273c; */
        padding: 0;
    }
    .all {
        grid-column: 1
    }
    .active {
        grid-column: 2/4
    }
    .completed {
        grid-column: 4/6
    }
    .clear {
        grid-column: 6/8;
        grid-row: 1;
        display: grid;
        justify-content: end;
        align-items: center;
        min-height: 100%;
        text-align: right;
        padding-right: 1rem;
    }
    .instruction {
        grid-row: 2/3;
        grid-column: 1/8;
    }
}